
<header>
    <div id="view-toggle">
        <button type="button"
                (click)="onGrid(!showGrid)">
                        <i class="fas fa-th"
                           *ngIf="!showGrid"></i>
                        <i class="fas fa-list"
                           *ngIf="showGrid"></i>
                </button>
    </div>    
    
    <div id="title">
        <h1>To-Do List</h1>
    </div>
    <div class="custom-select">
        <select id="sort-by"
                #filter
                (change) = "onFilter( filter.value )">
            <option selected value="All" >All</option>
            <option value="Pending">Pending</option>
            <option value="Completed">Completed</option>
        </select>
        <div id="select-arrow"></div>
    </div>
</header>