
<ul id="to-dos-wrapper">

    <li class="to-do-item">
        <div class="to-do">
            <input type="checkbox" checked>
            <span class="custom-checkbox"></span>
            <p class="to-do-text to-do-done">Wash the car</p>
        </div>
        <div class="edit-to-do">
            <button class="edit" type="button"><i class="far fa-edit"></i></button>
            <button class="delete" type="button"><i class="far fa-trash-alt"></i></button>
        </div>
    </li>
    
    <li class="to-do-item">
        <div class="to-do">
            <input type="checkbox">
            <span class="custom-checkbox"></span>
            <p class="to-do-text">Wash the car</p>
        </div>
        <div class="edit-to-do">
            <button class="edit" type="button"><i class="far fa-edit"></i></button>
            <button class="delete" type="button"><i class="far fa-trash-alt"></i></button>
        </div>
    </li>
    
</ul>

<div id="create-task">
    <button type="button" class="new-task"> <i class="fas fa-plus"></i> New task</button>
    <!-- <input type="text" name="task"> -->
</div>